<link rel="stylesheet" href="../styles/burger.css">
<a href="#!dashboard" id="goback">GoBack</a>
<input type="text" placeholder="Search.." id="inpbox" ng-model="name">

<button id="btn1" ng-click="filterMethod('true')" ><img src="../assets/images/veg-icon.svg" style="height: 50px;"></button>
<button id="btn2" ng-click="filterMethod('false')"><img src="../assets/images/non-veg-icon.svg" style="height: 50px;"></button>
<button id="btn3" ng-click="sortMethod('price')"><img src="../assets/images/icons8-price-48.png" style="height: 50px;"></button>

  
    <div class="pizza-card">
      <li ng-repeat="i in arr | filter : name | filter : {veg : byName} | orderBy : prices ">
        
        <img class="pizza-img" src="{{i.images[0].sm}}" alt="Pizza Name">
      
        <div class="pizza-details">
          <h2>{{i.name}}</h2>
          <p>{{i.desc}}</p>
          <p class="price">{{i.price | currency}}</p>
        </div>
      </li>
      
    </div>


  <!-- Modal for displaying full description -->
  <!-- <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal()">&times;</span>
      <img class="pizza-img" id="modalImg" alt="Pizza Name">
      <h2 id="modalTitle"></h2>
      <p id="modalDescription"></p>
      <p class="price" id="modalPrice"></p>
    </div>
  </div>
</div>
  <script>
    function showDescription(title, description, imgSrc, price) {
      document.getElementById('modalTitle').innerText = title;
      document.getElementById('modalDescription').innerText = description;
      document.getElementById('modalImg').src = imgSrc;
      document.getElementById('modalPrice').innerText = price;
      document.getElementById('myModal').style.display = 'flex';
    }

    function closeModal() {
      document.getElementById('myModal').style.display = 'none';
    }

    // Close the modal if the user clicks outside of it
    window.onclick = function(event) {
      var modal = document.getElementById('myModal');
      if (event.target === modal) {
        modal.style.display = 'none';
      }
    }
  </script>

</body> -->