<link rel="stylesheet" href="../styles/dashboard.css">

<link rel="stylesheet" href="../styles/navbar.css">
<div class="navbar">

    <div id="title">
        <!-- <img src="../assets/images/logo.jpg" alt="logo" > -->
        <a href="#home"><h2>PizzaMania</h2></a>
    </div>
    <div id="links">
        <!-- <a href="#!signup" >signup</a>
        <a href="#!signin" >signin</a> -->
        <a href="#"  ng-click="clearData()">Logout</a>
        <!-- <a href="#!about">aboutus</a> -->
    </div>
</div>
<div class="displayname">
  Welcome,{{Uname}}
</div>
<div>
    <nav>
        <a href="#!pizza">Pizza</a>
        <a href="#!burger">Burger</a>
        <a href="#!dessert">Dessert</a>
      </nav>
</div>